<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.mapper.OrderItemMapper">
	<resultMap id="BaseResultMap" type="com.test.model.OrderItem">
		<id column="item_id" property="itemId" jdbcType="INTEGER" />
		<result column="order_id" property="orderId" jdbcType="INTEGER" />
		<result column="item_num" property="itemNum" jdbcType="INTEGER" />
		<result column="item_name" property="itemName" jdbcType="VARCHAR" />
	</resultMap>
	<select id="getOrderItemListByOrderId" resultMap="BaseResultMap"
		parameterType="int">
		select item_id, order_id, item_num, item_name 
		  from t_order_item
		 where order_id=#{orderId}
	</select>
	<insert id="createOrderItem" parameterType="com.test.model.OrderItem">
		insert into t_order_item(item_id, order_id, item_num, item_name) values (#{itemId}, #{orderId}, #{itemNum}, #{itemName})
	</insert>
</mapper>