<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.mapper.UserMapper">
	<resultMap id="BaseResultMap" type="com.test.model.User">
		<id column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
	</resultMap>
	<select id="getUserByUserId" resultMap="BaseResultMap"
		parameterType="int">
		select user_id, user_name from t_user where
		user_id=#{userId}
	</select>
	<insert id="createUser" parameterType="com.test.model.User">
		insert into
		t_user(user_id, user_name) values (#{userId}, #{userName})
	</insert>
</mapper>